.route {
  margin-top: 10px;
  margin-left: 400px;
}

.location {
  width: 275px;
  height: 40px;
  margin: -50px 0px 0px 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order {
  width: 151px;
  height: 35px;
  background: #3371b5 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-left: 575px;
  cursor: pointer;
}

.textName {
  width: 54px;
  height: 16px;
  font: normal normal normal 12px/16px Roboto;
  color: #0a0102;
  margin-left: -550px;
}

.example-margin {
  margin: 0 45px;
}

.newAddress {
  width: 150px;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #a03037;
  border-radius: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.continue {
  width: 151px;
  height: 35px;
  background: #3371b5 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  margin-left: 575px;
}

.image {
  height: 120px;
}

.mat-expansion-panel {
  display: inline-block;
  width: 0px;
  justify-content: center;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
}
.form-div {
  margin-bottom: none;
  display: flex;
}
.main {
  text-align: -webkit-center;
}
.mat-div {
  width: 600px;
  margin-right: auto;
}
.mat-expansion-panel {
  width: 800px;
  border: 1px solid rgb(126, 120, 120);
}
.mat-form-field {
  margin-right: 10px;
}
.address-div {
  text-align: initial;
}
.address-field {
  width: 410px;
}
.mat-radio {
  display: flex;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-accordion {
  padding: 10px;
}

.radiotype {
  margin-left: -200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0;
}

.email {
  width: 412px;
}

@media (max-width: 1300px) {
  .route {
    margin-left: 250px;
  }

  .order {
    margin-left: 375px;
  }

  .mat-expansion-panel {
    margin-left: 10px;
    width: 600px;
    justify-content: center;
  }

  .mat-div {
    width: 400px;
    margin-right: auto;
  }

  .newAdress {
    display: none;
    overflow: hidden;
  }

  .mat-form-field {
    margin-right: 10px;
  }
  .address-div {
    text-align: initial;
  }
  .address-field {
    width: 410px;
  }

  .radiotype {
    margin-left: -100px;
  }

  .typeradio {
    margin-left: -370px;
  }
  .mat-radio {
    margin-left: 100px;
  }

  .example-margin {
    margin: 0 15px;
  }

  .continue {
    margin-left: 375px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-accordion {
    padding: 10px;
  }

  .email {
    width: 412px;
  }
}

@media (max-width: 420px) {
  .mat-expansion-panel {
    margin-top: 10px;
    width: 350px;
  }
  .route {
    margin-left: 30px;
  }

  .order {
    margin-left: 170px;
  }

  .mat-div {
    width: 10px;
  }

  .newAdress {
    display: none;
  }

  .mat-form-field {
    width: 150px;
  }
  .address-div {
    text-align: initial;
  }
  .address-field {
    width: 310px;
  }

  .textName {
    margin-left: -15px;
  }

  .radiotype {
    display: flex;
    flex-direction: row;
    margin-left: -5px;
  }

  .mat-radio {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .continue {
    margin-top: 10px;
    margin-left: 170px;
  }
}
