<div class="header">
  <app-header [carts]="carts"></app-header>
</div>
<mat-accordion>
  <div>
    <mat-expansion-panel
      [expanded]="step"
      (opened)="setStep(0)"
      hideToggle
      class="center"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold">
          My cart({{ carts.length }})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let cart of carts; let i = index">
        <div style="display: flex">
          <span>
            <img
              mat-panel-image
              src="./../../../assets/BookImages/Image 11.png"
              class="image"
            />
          </span>
          <span class="position">
            <div style="margin-left: 20px">
              <span>{{ cart.product_id.bookName }}</span>
              <h5 style="margin-bottom: 5px; color: #9d9d9d">
                by {{ cart.product_id.author }}
              </h5>
              <span
                style="
                  font: normal normal bold 15px/18px Lato;
                  letter-spacing: 0px;
                  color: #0a0102;
                  opacity: 1;
                "
                >Rs. {{ cart.product_id.price }}</span
              >
            </div>
            <div>
              <button
                style="margin-left: 10px"
                mat-stroked-button
                (click)="removeCartItem(cart)"
              >
                remove
              </button>
            </div>
          </span>
          <div class="location">
            <div style="display: flex; align-items: flex-end">
              <mat-icon> pin_drop</mat-icon> Use current location
            </div>
            <mat-icon>expand_more</mat-icon>
          </div>
        </div>
      </div>

      <div class="order" (click)="setStep1(1)">PLACE ORDER</div>
    </mat-expansion-panel>
  </div>
</mat-accordion>

<mat-accordion>
  <div class="main">
    <mat-expansion-panel [expanded]="step1" (opened)="setStep1(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold"
          >Customer Details</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div style="margin-left: 550px">
        <span style="color: #a03037; padding: 20px 0px 20px 19px"
          >Add New Address</span
        >
      </div>

      <form>
        <div class="mat-div">
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Pin Code</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div class="address-div">
            <mat-form-field class="address-field" appearance="outline">
              <mat-label>Address</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="fullAddress"
                id="fullAddress"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>City/Town</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>state</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>
          <div>
            <h2 style="margin-left: -570px" class="textName">Type</h2>
            <mat-radio-group aria-label="Type">
              <div class="mat-radio">
                <mat-radio-button value="home">Home</mat-radio-button>
                <mat-radio-button value="work">Work</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="continue" (click)="setStep2(2)">CONTINUE</div>
      </form>
    </mat-expansion-panel>
  </div>
</mat-accordion>

<mat-accordion>
  <div>
    <mat-expansion-panel
      [expanded]="step2"
      (opened)="setStep2(2)"
      hideToggle
      class="center"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold">
          Order Summary
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let cart of carts">
        <div style="display: flex">
          <span>
            <img
              mat-panel-image
              src="./../../../assets/BookImages/Image 11.png"
              class="image"
            />
          </span>
          <span class="position">
            <div style="margin-left: 20px">
              <span>{{ cart.product_id.bookName }}</span>
              <h5 style="margin-bottom: 5px; color: #9d9d9d">
                by {{ cart.product_id.author }}
              </h5>
              <span
                style="
                  font: normal normal bold 15px/18px Lato;
                  letter-spacing: 0px;
                  color: #0a0102;
                  opacity: 1;
                "
                >Rs. {{ cart.product_id.price }}</span
              >
            </div>
          </span>
        </div>

        <div class="order">CHECKOUT</div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
<app-footer class="footer"></app-footer>
