.book-img {
  height: 125px;
  width: 100px;
}
.cart-btn {
  background-color: #8f2b2f;
  color: white;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 8px;
  font-size: 12px;
  border-radius: 2px;
}

.card {
  height: 300px;
  width: 200px;
  border: 1px solid f5f5f5;
  box-shadow: 0px 0px 3px 0px gainsboro;
}

.header__image {
  width: 150px;
  background-color: gold;
}

.card {
  margin-bottom: 20px;
}

.card__header {
  padding: 0 50px;
  padding-bottom: 0px;
  padding-top: 20px;
  height: 52%;
  background-color: #f5f5f5;
}

.card__contents {
  font: normal normal normal 14px/17px Lato;
  margin: 15px 0;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.contents__title {
  font-weight: bold;
}

.mat-stroked-button {
  line-height: 30px;
}

.added-cart-btn {
  width: 80%;
  background-color: #3371b5;
}

.cart-btn-md {
  width: 100%;
  margin: 0 10%;
}

button {
  box-shadow: 0px 0px 2px 0px #8f2b2f;
}

.card__header {
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 95%;
  margin-left: 50px;
  padding-top: 5px;

  font-size: 12px;
  color: white;
  background-color: black;
}
