.footer {
  position: fixed;
  bottom: 0;
  width: 95%;
  margin-left: 40px;

  height: 32px;
  font-size: 12px;
  color: white;
  background-color: black;
}

.footer__text {
  padding-left: 150px;
}
