.footer {
  bottom: 0;
  width: 100%;

  padding-top: 5px;

  font-size: 12px;
  color: white;
  background-color: black;
}

.footer__text {
  padding-left: 180px;
}

@media (max-width: 420px) {
  .footer {
    width: 100%;
    min-width: 50%;
  }

  .footer__text {
    padding-left: 30px;
  }
}
