<form class="container__form">
  <h2>Customer Details</h2>
  <div class="form__first-row">
    <!--  -->

    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="form__second-row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
    </p>
  </div>
  <div class="form__first-row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>city/town</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
    </p>
  </div>
  <div class="form_select">
    <mat-form-field appearance="outline">
      <mat-label>type</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="last-row">
    <button mat-raised-button color="primary">Continue</button>
  </div>
</form>
