<header class="container">
  <div class="header_left">
    <img class="booklogo" src="../../../assets/education.svg" />
    <h2 class="bookname">Bookstore</h2>
    <div class="search">
      <mat-icon mat-button>search</mat-icon>
      <input class="searchInput" type="text" placeholder="Search" />
    </div>
    <div class="header_right_profile">
      <mat-icon mat-button [matMenuTriggerFor]="menu">person</mat-icon>
      <h5>Profile</h5>
      <mat-menu class="user-box" #menu="matMenu" yPosition="below">
        <div class="profile_dropdown">
          <h5 style="font-weight: bold">Hello, Snehal</h5>
          <button class="description" mat-menu-item>Profile</button>
          <button class="myorders" mat-menu-item>My Orders</button>
          <button class="wishlist" mat-menu-item>Wishlist</button>
          <button class="logout_button" style="color: brown">Logout</button>
        </div>
      </mat-menu>
    </div>
    <div class="header_right_cart">
      <mat-icon
        matBadge="1"
        matBadgeColor="warn"
        style="cursor: pointer"
        (click)="redirectToCart()"
      >
        shopping_cart</mat-icon
      >
      <h5>Cart</h5>
    </div>
  </div>
</header>
