<header class="container">
  <div class="header_left">
    <img class="booklogo" src="../../../assets/education.svg" />
    <h2 class="bookname">Bookstore</h2>
    <div class="search">
      <mat-icon mat-button>search</mat-icon>
      <input
        class="searchInput"
        type="text"
        placeholder="Search"
        [(ngModel)]="bookName"
        (keyup)="setSearch($event)"
      />
    </div>
    <div class="header_right_profile">
      <mat-icon mat-button [matMenuTriggerFor]="menu">person</mat-icon>
      <h5>Profile</h5>
      <mat-menu class="user-box" #menu="matMenu" xPosition="before">
        <div class="profile_dropdown">
          <h5 style="font-weight: bold">Hello, Snehal</h5>
          <button class="description" mat-menu-item>Profile</button>
          <button class="myorders" mat-menu-item>My Orders</button>
          <button class="wishlist" mat-menu-item (click)="getWishlist()">
            Wishlist
          </button>
          <button
            class="button"
            style="color: brown"
            (click)="logout()"
            mat-stroked-button
          >
            Logout
          </button>
          <!-- <button class="logout_button" style="color: brown; pointer:cursor" (click)= "logout()">Logout</button> -->
        </div>
      </mat-menu>
    </div>
    <div class="header_right_cart" style="cursor: pointer">
      <button mat-icon-button #tooltip="matTooltip" matTooltip="" class="bag">
        <mat-icon
          matBadge="{{ count }}"
          matBadgeSize="small"
          class="headerButton"
          matBadgeColor="warn"
          (click)="redirectToCart()"
        >
          shopping_cart</mat-icon
        >
      </button>
      <h5>Cart</h5>
    </div>
  </div>
</header>
