.container {
  background-color: #a03037;
  width: 95%;
  margin-left: 40px;
}

.header_left {
  height: 60px;
  display: flex;
  align-items: center;
}

.booklogo {
  margin-left: 160px;
}

.bookname {
  color: #ffffff;
  padding: 18px 50px 0px 10px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 1px;
  background: #fcfcfc;
}

.searchInput {
  width: 500px;
  height: 30px;
  background: #fcfcfc;
  text-align: left;
  opacity: 1;
  outline: none;
  border: transparent;
}

.header_right_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 230px;
  padding-top: 10px;
  color: white;
  cursor: pointer;
}

.header_right_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
  padding-top: 15px;
  color: #fcfcfc;
}

.profile_dropdown {
  height: 170px;
  padding-left: 10px;
  padding-right: 10px;
}
.description {
  margin-top: -15px;
}

.logout_button {
  background-color: white;
  padding: 10px 10px 10px 70px;
}

.line {
  margin-top: -5px;
}

.myorders {
  margin-top: -10px;
}

.wishlist {
  margin-top: -20px;
}

@media (max-width: 1270px) {
  .container {
    width: 100%;
    min-width: 50px;
  }

  .header_left {
    height: 60px;

    display: flex;
    align-items: center;
  }

  .mat-form-field {
    width: 100%;
    min-width: 10px;
    height: 68px;
  }
  .button {
    width: 100%;
  }
}
