.container {
  background-color: #a03037;
  width: 100%;
  // margin-left: 40px;
}

.header_left {
  height: 60px;
  display: flex;
  align-items: center;
}

.booklogo {
  margin-left: 260px;
}

.bookname {
  color: #ffffff;
  padding: 18px 50px 0px 10px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 1px;
  background: #fcfcfc;
  margin-left: 30px;
}

.searchInput {
  width: 500px;
  height: 30px;
  background: #fcfcfc;
  text-align: left;
  opacity: 1;
  outline: none;
  border: transparent;
}

.header_right_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 215px;
  padding-top: 10px;
  color: white;
  cursor: pointer;
}

.header_right_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3.8%;
  padding-top: 15px;
  color: #fcfcfc;
}

.profile_dropdown {
  height: 170px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 5px;
}
.description {
  margin-top: -15px;
}

::ng-deep.mat-stroked-button {
  border: 1px solid #a03037;
  border-radius: 2px;
}

.line {
  margin-top: -5px;
}

.myorders {
  margin-top: -10px;
}

.wishlist {
  margin-top: -20px;
}
