<div class="display">
  <div class="book" *ngFor="let book of books">
    <div class="book__header">
      <img class="book-img" src="./../../../assets/BookImages/Image 11.png" />
      <!-- <h4>{{ book.description }}</h4> -->
    </div>
    <div class="book__contents">
      <div class="book__title">{{ book.bookName }}</div>
      <h5>By {{ book.author }}</h5>
      <div class="book__details">
        <div class="rating">
          <p style="color: white; margin: 0">4.5</p>
          <mat-icon class="star">grade</mat-icon>
        </div>
        <h5 style="color: #878787">({{ book.quantity }})</h5>

        <h3 class="book_price">Rs.{{ book.price }}</h3>
      </div>
    </div>
  </div>
</div>
