.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 10px 0px 10px;
}

.book-img {
  height: 135px;
  width: 100px;
  margin-bottom: 5px;
  cursor: pointer;
}

.book {
  height: 260px;
  width: 210px;
  box-shadow: 0px 0px 3px 0px rgb(236, 233, 233);
  margin-bottom: 40px;
  margin-left: 28px;
  transition: all 30ms ease-in-out;
}

.book:hover {
  box-shadow: 0px 0px 3px 5px rgb(236, 233, 233);
}

.book__header {
  padding: 0 50px;
  padding-bottom: 0px;
  padding-top: 15px;
  background-color: #f5f5f5;
}

.book__contents {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.book__title {
  flex: 1;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__details {
  padding-left: 1px;
  margin-top: -5px;
  display: flex;
  height: 15px;
}

.buttons {
  width: 10px;
  height: 20px;
  margin-top: 40px;
  margin-left: -60px;

  display: flex;
  justify-content: space-between;
}

.rating {
  width: 33px;
  height: 16px;
  background: #388e3c;
  border-radius: 1px;

  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.book_quantity {
  margin-left: 8px;
}

.star {
  color: white;
  font-size: 10px;
}

.book_price {
  margin-top: 18px;
  margin-left: -60px;
  font-weight: bold;
}

.view {
  margin-top: -55px;
  margin-left: -25px;
  background-color: #333131;
  color: #ffffff;
  height: 18px;
  font-size: smaller;
  visibility: hidden;
}

.book:hover .view {
  visibility: visible;
}
