.displayBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sub-header {
  width: 255.6%;
  margin: 0px 0px 0px 0px;
  margin-top: 30px;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-header select {
  padding: 5px 10px;
  outline: none;
}

.sortby {
  margin-right: 95px;
}

.sub-header select option {
  border: none;
}

.productBody {
  width: 235px;
  height: 275px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  opacity: 1;
  margin: 0px 0px 32px 38px;
  cursor: pointer;
}

.productBody:hover {
  box-shadow: 2px 11px 5px 5px rgba(173, 170, 170, 0.8);
}

.block {
  height: 115px;
  width: 233px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 0px 0px 3px 3px;
  opacity: 1;
  border-top: transparent;
}

.bookImg {
  width: 233px;
  height: 172px;
  background: #efefef 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-bottom: transparent;
  border-radius: 2px 2px 0px 0px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 105px;
  height: 135px;
}

.description {
  padding: 5px 0px 0px 20px;
  font: normal normal bold 12px/18px Roboto;
  letter-spacing: 0px;
  width: 190px;
  color: #0a0102;
  opacity: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.description:hover {
  overflow: visible;
}

.author {
  font: normal normal normal 10px/13px Roboto;
  letter-spacing: 0px;
  color: #727070;
  opacity: 1;
  padding-left: 20px;
  margin-bottom: 7px;
}

.quantityAndRate {
  padding-left: 20px;
  margin-bottom: 5px;
  display: flex;
  height: 15px;
}

.rate {
  width: 33px;
  height: 16px;
  background: #388e3c 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
  display: flex;
  align-items: baseline;
  padding-left: 3px;
}

.star {
  color: white;
  font-size: 10px;
}

.price {
  padding-left: 20px;
  margin: 0;
  width: 50px;
  height: 16px;
  text-align: left;
  font: normal normal bold 12px/18px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
  opacity: 1;
}

.view {
  position: relative;
  right: -35%;
  top: -110%;
  background-color: #5f5e5e;
  width: 65px;
  color: #ffffff;
  height: 16px;
  font-size: smaller;
  visibility: hidden;
  padding: 0px 3px 2px 3px;
}

.productBody:hover .view {
  visibility: visible;
}

.alternateButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 28px;
}

.addCartButton {
  width: 42%;
  background-color: #a03037;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.addCartButton:hover {
  box-shadow: 4px 2px 8px 3px rgba(173, 170, 170, 0.8);
}

.whishlist {
  width: 42%;
  color: white;
  background-color: #414040;
  border: 0;
  cursor: pointer;
}

.whishlist:hover {
  box-shadow: 2px 2px 5px 3px rgba(173, 170, 170, 0.8);
}

.addedCart {
  width: 90%;
  color: white;
  background-color: #333333;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .totalitems {
    display: none;
  }

  .sortby {
    margin-right: 205px;
  }
}

@media (max-width: 768px) {
  .totalitems {
    display: none;
  }

  .sub-header {
    margin-left: 5px;
  }

  .sortby {
    margin-right: 80px;
  }
}

@media (max-width: 420px) {
  .sub-header {
    width: 105.6%;
    min-width: 30%;
    margin-left: 45px;
  }

  .totalitems {
    display: none;
  }

  .sortby {
    margin-right: -95px;
  }

  .productBody {
    margin: 0px 0px 32px 62px;
  }
}
