<div class="display">
  <div class="book" *ngFor="let book of books">
    <div class="book__header" (click)="bookDetails(book)">
      <img class="book-img" src="./../../../assets/BookImages/Image 11.png" />
      <!-- <h4>{{ book.description }}</h4> -->
    </div>
    <div class="book__contents">
      <div class="book__title">{{ book.bookName }}</div>

      <h5>By {{ book.author }}</h5>
      <div class="book__details">
        <div class="rating">
          <p style="color: white; margin: 0">4.5</p>
          <mat-icon class="star">grade</mat-icon>
        </div>
        <h5 class="book_quantity">({{ book.quantity }})</h5>

        <h3 class="book_price">Rs.{{ book.price }}</h3>
        <!-- <div class="buttons">
          <button
            style="background-color: #a03037"
            mat-flat-button
            color="primary"
            mat-raised-button
            (click)="addcart(book)"
          >
            ADD TO BAG
          </button>
          *ngIf="book.addedToCart"

          <button
            style="color: white; background-color: #333333"
            mat-stroked-button
          >
            &hearts; WISHLIST
          </button>
        </div> -->
        <div class="view">QUICK VIEW</div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="10" [pageSize]="2" [pageSizeOptions]="[1, 2]">
  </mat-paginator>
</div>
