.page {
  width: 100%;
  height: 100%;
  background-color: #9d9d9d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons {
  width: 45.68%;
  height: 50.9%;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.dashboard {
  width: 25%;
  height: 59%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  opacity: 1;
  position: relative;
  right: 25%;
}

img {
  height: 55%;
  width: 30%;
  border-radius: 100%;
  margin-left: 7.1%;
  margin-bottom: 6%;
}

.text {
  padding: 0% 0% 0% 8%;
  font-size: large;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
  margin-bottom: 4%;
  height: 8%;
}

.select {
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .page {
    width: 100%;
    height: 100%;
  }

  .icons {
    width: 40%;
    height: 45%;
  }

  .dashboard {
    width: 25%;
    height: 59%;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
