.main {
  margin: 0px 150px 0px 240px;
}

.sub-header {
  width: 72.6%;
  margin: 0px 0px 0px 0px;
  margin-top: 30px;
  margin-left: 275px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-header select {
  padding: 5px 10px;
  outline: none;
}

.sortby {
  margin-right: 85px;
}

.sub-header select option {
  border: none;
}

@media (max-width: 420px) {
  .main {
    margin: 0px 150px 0px 30px;
  }
}
