<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="sub-header">
    <h3 style="font-weight: bold">Books</h3>
    <h5 style="margin-left: -800px">({{ totalItems }} items)</h5>
    <!-- <h5 class="book_count">{{ books.length }}</h5> -->

    <select class="sortby" style="font-weight: bold; margin-right: 85px">
      <option>Sort by relevance</option>
      <option>Price: High to Low</option>
      <option>Price: Low to High</option>
      <option>Newest Arrival</option>
    </select>
  </div>

  <div class="main">
    <app-home></app-home>
  </div>
  <app-footer></app-footer>
</div>
